:root {
    /* primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    /* neutrals */
    --white: hsl(0, 0%, 100%);
    --transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --transparent-white-2: hsla(0, 0%, 100%, 0.6);
    /* fonts */
    --font-inter: 'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Lexend Deca', sans-serif; */

}

body {
    background-color: var(--very-dark-blue);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card {
    width: 1085px;
    height: 445px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    border-radius: .75rem;
    overflow: hidden;

}

.card__title {
    color: var(--white);
    font-size: 2.3rem;
    font-family: var(--font-inter);
    font-weight: 700;
    margin-top: 0;
}

.text-purple {
    color: var(--soft-violet);
}

.card__body {
    background-color: var(--dark-desaturated-blue);
    padding: 4rem;
    padding-right: 5.75rem;
}

.card__body>p {
    color: var(--transparent-white-1);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 4rem;
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 1.5;
}

.card__stats {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    line-height: 1.5;

}

.card__stats>div {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 1.25rem;

}

.text-muted {
    color: var(--transparent-white-2);
    font-family: var(--font-lexend);
    font-weight: 400;
    text-transform: uppercase;
    font-size: .75rem;
}

.overlay {
    overflow: hidden;
    background-color: var(--soft-violet);
}

.card__image {
    opacity: .45;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}