:root {
    /* primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    /* neutrals */
    --white: hsl(0, 0%, 100%);
    --transparent-white-1: hsla(0, 0%, 100%, 0.75);
    --transparent-white-2: hsla(0, 0%, 100%, 0.6);

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}